body {
	margin: 0 auto;
	padding: 0;
	max-width: 1024px;
}

header {
	text-align: center;
}

header img {
	width: 50px;
	max-width: 50px;
	position: absolute;
	left: 30px;
	top: 5px;
}

header h1 {
	margin-top: 40px;
}

.buy {
	max-width: 100%;
}

ul {
	padding: 0;
}

li {
	display: block;
	background-color: #eee;
	padding: 0 0;
	margin-bottom: 5px;
}

li.title {
	background-color: #ddd;
}

li span {
	padding: 20px 0;
	display: inline-block;
}

.team-icon {
	display: inline-block;
	width: 50px;
}

.name {
	display: inline-block;
	width: 100px;
	margin-left: 90px;
}

.score {
	text-align: center;
}

.bonus {
	padding-left: 20px;
}

li img {
	margin-top: 5px;
	margin-left: 10px;
	max-width: 50px;
	max-height: 50px;
	position: absolute;
}

.game {
	text-align: center;
}

.game:last-child {
	background-color: aquamarine;
	position: relative;
}

.game:last-child:before {
	content: '最新战报';
    color: red;
    position: absolute;
    left: 10px;
    top: 50%;
    margin-top: -12px;
}

footer {
	text-align: center;
}
